@import url('https://fonts.googleapis.com/css2?family=Lora');

body{
	background-image: url("har.png");
}

.row{
	background-color: lightgrey;
	margin: 40px -125px 5px -125px;
	padding: 90px 80px 80px 20px;
	border: 1px solid #80ced7;
	font-size: 1.1em;
	font-family: 'Lora', serif;
}
.reveal-text{
	margin: 40px -125px 5px -125px;
	position: relative;
	top: -200px;
	left: 40px;
	color: deepskyblue;
}

.up{
	margin: 40px -125px 5px -125px;
	position: relative;
	top: -80px;
}


form p{
	font-size: .89em;
}

.form-div.login{
	margin-top: 100px;
}


.dropdown{
	position: relative;
	margin: -550px 500px 1px 1100px;
	padding: 8px;
}

h3{
	margin: 40px;
}

#tr{
	margin: -50px 60px 60px 20px;
}