@import url('https://fonts.googleapis.com/css2?family=Lora');

body{
	background-image: url("har.png");
}

.form-div{
	background-color: lightgrey;
	margin: 50px 60px 60px 750px;
	padding: 25px 15px 10px 15px;
	border: 1px solid #80ced7;
	border-radius: 5px;
	font-size: 1.1em;
	font-family: 'Lora', serif;
}

.form-control:focus {
	box-shadow: none;
}

form p{
	font-size: .89em;
}

.form-div.login{
	margin-top: 100px;
}

.logout {
	color: red;
}

.title_login{
  color: #00bfff;
  position: relative;
  top: 200px;
  left: 50px;
}





