
/*
using the same css config as the base example
code based on example from: "https://github.com/Leaflet/Leaflet.heat"
*/
#map { width: 800px; height: 600px; }

body { font: 16px/1.4 "Helvetica Neue", 
		Arial, 
		sans-serif; 
	 }
	 
.ghbtns { position: relative; 
		  top: 4px; 
		  margin-left: 5px; 
		}

a { color: #0077ff; }